# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
- List Polular languages for Data Science
- List Commonly used Libraries by Data Sceintist
- Create a Table
- Basic Arithemetic in python
- Conversion of 200 minutes to Hours

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. Javascript
8. Swift
9. Go
10. Matlab

Some of the commonly used libraries used by Data Scientist include:

1. Tensorflow
2. Numpy
3. Scipy
4. Pandas
5. Keras

| Data Science Tools |
| :---- |
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithemetic expression in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [6]:
minutes = 200
hours = minutes / 60
rounded_hours = round(hours, 2)
print(rounded_hours)

3.33

## Author 
Elisha Oreunomhe